/* F-Sans */
@font-face {
    font-family: "F-Sans";
    src: url('../font/FiraSans Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: "F-Sans";
    src: url('../font/FiraSans Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: "F-Sans";
    src: url('../font/FiraSans Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: "F-Sans";
    src: url('../font/FiraSans Bold.ttf');
    font-weight: 700;
}


/* Metronic */
@font-face {
    font-family: "Metronic";
    src: url('../font/Metronic Pro Bold.otf');
    font-weight: 700;
}

@font-face {
    font-family: "Metronic";
    src: url('../font/Metronic Pro Black.otf');
    font-weight: 800;
}